@model Course_Project_TP_6.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Регистрация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            Регион
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            Улица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Дом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            Квартира
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartament)
        </dd>

        <dt>
            Кем выдан
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport.IssuedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Registration_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
