@model IEnumerable<Course_Project_TP_6.Models.SNILS>

@{
    ViewBag.Title = "Index";
}

<h2>СНИЛСы</h2>

<p>
    @Html.ActionLink("Добавить новый СНИЛС", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th> 
        <th>
            Отчество
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserPatronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SNILS_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.SNILS_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SNILS_Id })
        </td>
    </tr>
}

</table>
